<?xml version="1.0" encoding="utf-8"?>
<actions>
	<action>lineUp</action>
	<action>order</action>
	<action>pay</action>
	<action>wait</action>
	<action>pickUp</action>
	<action>leave</action>
</actions>
<sequence frameCount="5" id="0" width="640" height="360" type="folder">
	<frame id="0" targetCount="6" filename="00000001.jpg">
		<target id="0" action="lineUp">
			<location>344,164,357,164,357,210,344,210</location>
		</target>
		<target id="1" action="lineUp">
			<location>398,168,415,168,415,212,398,212</location>
		</target>
		<target id="2" action="lineUp">
			<location>234,169,251,169,251,220,234,220</location>
		</target>
		<target id="3" action="lineUp">
			<location>289,177,307,177,307,224,289,224</location>
		</target>
		<target id="4" action="lineUp">
			<location>122,182,137,182,137,226,122,226</location>
		</target>
		<target id="5" action="lineUp">
			<location>181,179,200,179,200,226,181,226</location>
		</target>
	</frame>
	<frame id="1" targetCount="6" filename="00000002.jpg">
		<target id="0" action="lineUp">
			<location>344,164,357,164,357,210,344,210</location>
		</target>
		<target id="1" action="lineUp">
			<location>398,168,415,168,415,212,398,212</location>
		</target>
		<target id="2" action="lineUp">
			<location>234,169,251,169,251,220,234,220</location>
		</target>
		<target id="3" action="lineUp">
			<location>289,177,307,177,307,224,289,224</location>
		</target>
		<target id="4" action="lineUp">
			<location>122,182,137,182,137,226,122,226</location>
		</target>
		<target id="5" action="lineUp">
			<location>181,179,200,179,200,226,181,226</location>
		</target>
	</frame>
	<frame id="2" targetCount="6" filename="00000003.jpg">
		<target id="0" action="lineUp">
			<location>344,164,357,164,357,210,344,210</location>
		</target>
		<target id="1" action="lineUp">
			<location>398,168,415,168,415,212,398,212</location>
		</target>
		<target id="2" action="lineUp">
			<location>234,169,251,169,251,220,234,220</location>
		</target>
		<target id="3" action="lineUp">
			<location>289,177,307,177,307,224,289,224</location>
		</target>
		<target id="4" action="lineUp">
			<location>122,182,137,182,137,226,122,226</location>
		</target>
		<target id="5" action="lineUp">
			<location>181,179,200,179,200,226,181,226</location>
		</target>
	</frame>
	<frame id="3" targetCount="6" filename="00000004.jpg">
		<target id="0" action="lineUp">
			<location>344,164,357,164,357,210,344,210</location>
		</target>
		<target id="1" action="lineUp">
			<location>398,168,415,168,415,212,398,212</location>
		</target>
		<target id="2" action="lineUp">
			<location>234,169,251,169,251,220,234,220</location>
		</target>
		<target id="3" action="lineUp">
			<location>293,177,311,177,311,224,293,224</location>
		</target>
		<target id="4" action="lineUp">
			<location>122,182,137,182,137,226,122,226</location>
		</target>
		<target id="5" action="lineUp">
			<location>181,179,200,179,200,226,181,226</location>
		</target>
	</frame>
	<frame id="4" targetCount="6" filename="00000005.jpg">
		<target id="0" action="lineUp">
			<location>344,164,357,164,357,210,344,210</location>
		</target>
		<target id="1" action="lineUp">
			<location>398,168,415,168,415,212,398,212</location>
		</target>
		<target id="2" action="lineUp">
			<location>234,169,251,169,251,220,234,220</location>
		</target>
		<target id="3" action="lineUp">
			<location>293,173,311,173,311,220,293,220</location>
		</target>
		<target id="4" action="lineUp">
			<location>122,182,137,182,137,226,122,226</location>
		</target>
		<target id="5" action="lineUp">
			<location>181,179,200,179,200,226,181,226</location>
		</target>
	</frame>
</sequence>